    <div class="card-footer text-center">

       <div class="content">
         <!-- <div class="condition">
            <a href="/privacy" class="btn btn-light" >Privacy</a>
            <a href="/terms" class="btn btn-light">Terms</a>
        </div> -->
        
        <div>
            <h5 class="card-title">&copy; Wanderlust Pvt Ltd</h5>
            <p class="card-text">"Discover the World, One Adventure at a Time – Your Journey Starts Here!"</p>
        </div>
        
        <div class="icons">
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram icon"></i></a>
           <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook icon"></i></a>
           <a href="#"><i class="fa-brands fa-x-twitter icon"></i></a>
        </div>

        
       </div>
      </div>