*{
    margin: 0;
    padding: 0;
}

.parent{
    width: 80%;
    height: 100%;
    background-color: aquamarine;
    margin: 10px auto ;
    /* display: flex; */

}

.child{
    width: 100px;
    height: 100px;
    margin: 10px;
}

#child1{
    background-color: red;
}

#child2{
    background-color: yellow;
}

#child3{
    background-color: green;
}