<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat rerum laudantium iste deserunt impedit, beatae doloribus non alias dolorum sit eaque ducimus, quia esse quasi id possimus consequuntur adipisci perferendis excepturi. Praesentium minima dignissimos iure odio, tenetur quidem sed dolore molestias possimus voluptates exercitationem atque doloremque voluptas laborum libero.</p>
    <button>Click Me</button>

    
</body>
</html>